@import url(https://fonts.googleapis.com/css?family=Teko:300,400,500,600);

.container {
  position: relative;
}

canvas {
  display: block;
}

.container__text {
  font-size: 7rem;
  position: absolute;
  top: 35%;
  left: 0%;
  margin-top: 15%;
  color: rgb(32, 156, 228);
  font-family: teko;
  font-weight: 400;
  text-shadow: 5px 5px #5F6D72;
  text-transform: uppercase;
  z-index: 5;
  text-align: center;
}
